
.section{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(240, 248, 255, 0.661);
 
}

.title{
  font-size: 80px;
  margin-top: 20px;
}
.img1{
  width: 120px;
  margin:30px;
}

.infosection{
  margin: 40px;
  font-size: 40px;
  border: 5px solid rgba(178, 237, 255, 0.46);
  padding: 50px;
}