.info{
  display: flex;
  background-image: url('../images/navbar.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  
}
.about, .portfolio, .contact, .resume{
  margin-top: 60px;
  margin-left: 100px;
  font-size: 30px;

}

.name{
  color: aqua;
  margin-left: 40px;
  margin-right: 80px;
}
.titles{
  color: rgb(154, 254, 254);
}
