.section2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title2{
  font-size: 70px;
}
.img2{
  width: 500px;
  height: 300px;
  margin: 50px;
}

/* .img2:hover{
 opacity: 60%;
 
} */

.img2:hover{
  content: attr(data-title); /* Get the title from the 'data-title' attribute */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white; /* Adjust the background color as needed */
  color: black; /* Adjust the text color as needed */
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

.img2:hover::after {
  opacity: 100%;
}