.section2{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(240, 248, 255, 0.661);;
}

.title2{
  margin-top: 20px;
  font-size: 60px;
}
.img2{
  display: block;
  width: 600px;
  height: 350px;
  margin: 50px; 
  opacity: 80%;
}
.images2{
  display: flex;
 flex-wrap: wrap;
  justify-content: center;
}

.images2 img{
  flex-basis: 50%;
}

.images1{
  position: relative;
}

.content{
  position: absolute;
}

.text{
  color: rgb(26, 201, 241);
  font-size: 40px;
  position: absolute;
  bottom: 170px;
  left: 170px;
  margin: 10px;
}
 .subicon{
  width: 40px;
  position: absolute;
  bottom: 250px;
  left: 350px;
 }

 .text:hover, .subicon:hover{ 
  color: rgb(116, 246, 255);
  opacity: 100%;
  font-weight: bold;
  font-size: 40px;
  width: 45px;
 }
 
 .images1 .content {
  display: none;
 
}
.images1:hover .img2{
  opacity: 50%;
}
.images1:hover .content {
  display: block;  
}



