.section2{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(240, 248, 255, 0.661);;
}

.title2{
  margin-top: 20px;
  font-size: 60px;
}
.img2{
  display: block;
  width: 500px;
  height: 270px;
  margin: 50px;
  opacity: 85%;
}
.images2{
  display: flex;
}
.images1{
  position: relative;
}

.overlay {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 50px;
  height: 270px;
  width: 500px;
  opacity: 0;
  transition: .5s ease;
  background-color: #008bba20;
}

.images1:hover .overlay{
  opacity: 100%;
}

.text{
  color: rgb(20, 160, 192);
  font-size: 40px;
  position: absolute;
  bottom: 10px;
  left: 200px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
 
}

