.forms{
  display: flex;
  flex-direction: column; 
  align-items: center;
  font-size: 30px;
  font-size: 40px;
  background-color: rgba(240, 248, 255, 0.661);
}
.title1{
  font-size: 60px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}

.contact-form label {
  font-weight: bold;
  margin-bottom: 8px;
  color: rgb(3, 135, 183);
}

.contact-form input,
.contact-form textarea {
  padding: 20px;
  margin-bottom: 16px;
  border: 2px solid rgba(178, 237, 255, 0.46);
}

.contact-form button {
  width: 200px;
  background-color: #51c0c0;
  color: #fff;
  border: none;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #6da0a9;
}
